{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "strict": [0],
    "radix": [2],
    "no-var": [2],
    "no-const-assign": [2],
    "prefer-template": [2],
    "prefer-const": [2],
    "no-unused-vars": [2],
    "no-useless-call": [2],
    "no-void": [2],
    "no-sequences": [2],
    "comma-dangle": [2, "always-multiline"]
  },
  "ecmaFeatures": {
    "blockBindings": true,
    "objectLiteralComputedProperties": true,
    "arrowFunctions": true,
    "defaultParams": true,
    "forOf": true,
    "destructuring": true,
    "templateStrings": true,
    "modules": true
  }
}
